<body>
    <form (ngSubmit)="bookNow()">
        <div class="d-flex justify-content-center " >  
    <mat-card class="mt-3 "  style="background-color: rgba(0, 34, 255, 0.409); width: 50vw;">
        <mat-card-content class=" m-3 pt-3 px-5 " >
            <div class="m-2">
                <h1>{{films.films}} </h1>
                <img src="{{films.poster}}" style="width: 10vw;height: 30vh;">
            </div>
            <div class="m-2">
                <h4 >Ticket Cost : <b>{{films.price | currency}}</b></h4>
            </div>
            <div class="form-floating col-5 m-2">
                <input class="form-control" min="1" max="10" type="number" (input)="seatsValue($event)"  placeholder="NO of seats">
                <label>Enter Number of Seats</label>
            </div>
            <div>
                <button mat-flat-button color="primary" type="submit" (click)="addcorn()">Add Popcorn</button>
            </div>
            <div class=" m-2" >
                + <label style="color: rgb(172, 20, 20);"></label>$ 8.00 <label *ngIf="visible2" > Popcorn Added. </label>
            </div>
            <div class=" m-2" *ngIf="visible">
                <span > Total price is <p name="amount" [(ngModel)]="total" style="color: rgb(68, 215, 68);font-weight: bold;text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.399);">{{total}}</p></span>
            </div>
            <div class="m-2">
                <button mat-flat-button color="warn" type="submit" (click)="buynow()"  routerLink="/films">Buy Now</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
</form>
<!-- <button (click)="click()">click</button> -->
</body>

