<body class="main">
    <form  class="needs-validation" novalidate (ngSubmit)="saveUser()">
            <div class="d-flex justify-content-center " >
            <mat-card class="mt-3 "  style="background-color: rgba(25, 106, 245, 0.53); width: 50vw;">
                <mat-card-content class=" m-3 pt-3 px-5 " >
                    <div class="form-floating">
                        <input class="form-control my-2" type="text" name="user" [(ngModel)]="user.user"  placeholder="name" required>
                        <label>Enter Your User Name</label>
                    </div>
                    <div class="form-floating " >
                        <input class="form-control my-4" type="password" name="password" [(ngModel)]="user.password"  placeholder="password" value="password" required>
                        <label>Enter Your Password</label>
                    </div>
                    <div class="form-floating">
                        <input matInput class="form-control my-4" type="email" name="email" [(ngModel)]="user.email"  placeholder="email" required>
                        <label><mat-label>Enter Your Email Address</mat-label></label> 
                    </div>
                    
                    <div class="form-floating">
                        <input class="form-control my-4" type="number" name="number" [(ngModel)]="user.number"  placeholder="number" required>
                        <label>Enter Your Phone Number</label>
                    </div>
                    <div class="form-floating ">
                        <input class="form-control my-4" type="number" name="adhar" [(ngModel)]="user.adhar"  placeholder="adhar" required>
                        <label>Enter Your Adhar Number</label>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <button mat-raised-button color="primary" type="submit">Save</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</body>