<mat-toolbar color="primary" style="width: 100%;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Rolle Max</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
  </mat-toolbar>
<div>
    <canvas id="newchart" >{{chart}} </canvas>
</div>
<!-- <button (click)="onclick()">get</button> -->
<p>userchart works!</p>
<div *ngFor="let a of spent">
    <div>{{a.id}}</div>
    <div>{{a.amount}} </div>
    <div *ngFor="let b of user">
        <div *ngIf="a.customerId==b.id">{{b.user}} </div>
    </div>
</div>
