<body class="main">
        <div class="d-flex justify-content-center " >
        <mat-card class="mt-5 m-3 "  style="background-color: rgba(25, 106, 245, 0.53);max-width: fit-content; ">
            <mat-card-content class=" m-3 p-2" style="margin-left: 50%;">
                <div class="d-flex justify-content-between">
                    <div>
                        <button mat-raised-button  routerLink="/admin" color="accent">Admin</button>
                    </div>
                    <div>
                        <button mat-raised-button routerLink="/user" color="accent">User</button>
                    </div>
                </div>
                <div class="m-3 form-floating">
                    <input name="user " [(ngModel)]="login.user" class="form-control" type="text" placeholder="name" >
                    <label>Enter Your user Name</label>
                </div>
                <div class="m-3 form-floating">
                    <input name="password" [(ngModel)]="login.password" class="form-control" type="password" placeholder="password" >
                    <label>Enter Your Password</label>
                </div>
                    <div class="m-1 d-flex justify-content-center">
                        <button mat-flat-button color="warn" (click)="loginUser()" >Loggin</button>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
<!-- </form> -->
</body>
