<body> 

<mat-toolbar color="primary" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Rolle Max</span>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">c
    </button> -->
    
    <div class="col-sm-3" style="margin-left: 40vw;">
        <input class="form-control" type="text" [(ngModel)]="filter.keyword" name="keyword" (input)="movielist()"  placeholder="Enter film name">
        <!-- <label>Enter film name</label> -->
    </div>
    <div class="mx-2" >
        <Label >List By</Label>
        <select mat-raised-button color="primary" class="btn form-control drop" name="sortBy" [(ngModel)]="filter.sortBy" (change)="movielist()" style="color: white; background-color: rgb(24, 209, 203);">
            <option mat-raised-button >Name</option>
            <option mat-raised-button >Amount</option>
        </select>
    </div>

</mat-toolbar>
<div class="filmlist">

    <div class="ml" *ngFor="let film of films" >
        <mat-card class="col-4 m-4 "  style="background-color: rgba(11, 28, 139, 0.179);width: 20vw; height: 75vh; ">
            <mat-card-content class="m-3">
            <div>
                <img class="film" src="{{film.poster}}" (click)="popup(film.id)" style="width: 15vw;height: 45vh;">
            </div>
            <div class="col-3 fname">
                <h4 > {{film.films}} </h4>
            </div>
            <!-- <div class="buy"> -->
                <div class="price"> {{film.price | currency}} </div>
                <div class="m-1 button"><button (click)="popup(film.id)"  mat-raised-button color="primary">Buy</button></div>
            <!-- </div> -->
    </mat-card-content>
</mat-card>
</div>

</div>       
</body>
