
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600&family=Roboto+Condensed&display=swap');

.filmlist{
    display: flex;
    flex-wrap: wrap;
 align-content: space-between;
}
.ml{
    
    /* margin: 10%; */
}

.film{
   box-shadow: -2px -2px 5px black; 
   border-radius: 1%;   
}
.fname{
    width: 90%;
    text-align: center;


    color: rgba(0, 0, 0, 0.903);
    text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.399);
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
}
.buy {
    width: auto;
    text-align: end;
}
.price{
    text-align: start;
    font-weight: bold;
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    /* text-align: end; */
    /* width: auto; */
}