<body class="main">
    <form class="needs-validation"  novalidate>
        <div class="d-flex justify-content-center" >
        <mat-card class="mt-5 m-3"  style="background-color: rgba(25, 245, 157, 0.53);max-width: fit-content; ">
            <mat-card-content class=" m-3 p-2" style="margin-left: 50%;">
                <div class="d-flex justify-content-between">
                    <div>
                        <button mat-raised-button  routerLink="/admin" color="accent">Admin</button>
                    </div>
                    <div>
                        <button mat-raised-button routerLink="/user" color="accent">User</button>
                    </div>
                </div>
                <div class="m-3 form-floating">
                    <input name="name" [(ngModel)]="username" class="form-control col-4" type="text" placeholder="name" required>
                    <label>Enter Your user Name</label>
                </div>
                <div class=" m-3 form-floating">
                    <input name="password" [(ngModel)]="password" class="form-control" type="password" placeholder="password" required>
                    <label>Enter Your Password</label>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="mx-3" onclick="registration()">
                        <button mat-flat-button color="primary" routerLink="/registration">SignUp</button>
                    </div>
                    <div class="mx-3">                        
                        <button mat-flat-button type="submit" (click)="loginUser()" color="warn">Loggin</button>
                    </div>
                </div >
                
            </mat-card-content>
        </mat-card>
    </div>
</form>
</body>
